/*
Colores y fuentes usadas:
font-family: 'Poppins', sans-serif;
colores: #7BFC02; #442662;
*/

body {
  background-color: #442662;
}

.loading .logo h1 {
  font-family: 'Poppins', sans-serif;
  color: #7BFC02;
  font-size: 40px;
  margin-top: 45%;
}

/*
Efecto de cargado
*/
.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 1.3em;
  height: 1.3em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  margin: 3em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  -webkit-animation-delay: 0.16s;
  animation-delay: 0.16s;
}
.loader:before {
  left: -3.5em;
}
.loader:after {
  left: 3.5em;
  -webkit-animation-delay: 0.32s;
  animation-delay: 0.32s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #7BFC02;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #7BFC02;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #7BFC02;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #7BFC02;
  }
}

 .primera .titulo h2 {
  font-family: 'Poppins', sans-serif;
  color: #7BFC02;
  margin-bottom: -10px;
}

hr.separador {
  height: 30px;
  border-style: solid;
  border-color: #7BFC02;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr.separador:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #7BFC02;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.primera #mapa {
  height: 200px;
  margin-top: -30px;
}

.btn {
  border-radius: 0px;
  color: #7BFC02;
  background-color: #442662;
  border-color: #7BFC02;
  padding: 5px;
}

.open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
  color: #fff;
  background-color: #361f4d;
  border-color: transparent;
}

.dropdown-menu {
    position: relative;
    padding: 0px 0;
    margin: 0px 0 0;
    text-align: center;
    background-color: transparent;
    font-size: 12px;
    border: none;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu>li {
  color: #fff;
  line-height: 2em;
  border-bottom: 2px solid #361f4d;
}

.segunda #container img {
  background-size: cover;
  width: 40%;
  margin: 10px;
}
